* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* overflow */
p {
  width: 7rem;
  height: 7rem;
  background-color: lightcoral;
  overflow: auto;
  /* white-space: normal;
  overflow-wrap: normal; */
}
.main {
  width: 75vw;
  height: 50vh;
  background-color: lightblue;
}
.box {
  width: 50%;
  height: 100%;
  background-color: lime;
}
